@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  @apply scroll-smooth;
}
h1,
h2,
h3,
h4 {
  @apply font-title text-primary-content select-none;
}

p,
span,
li,
button {
  @apply font-content text-primary-content select-none;
}

h1 {
  @apply text-5xl sm:text-7xl lg:text-9xl;
}

h2 {
  @apply text-5xl lg:text-7xl xl:text-8xl;
}

.rotate-90deg {
  rotate: 90deg;
}
.-rotate-90deg {
  rotate: -90deg;
}

.arrow:hover {
  animation-play-state: paused;
}
.go-to-right {
  translate: calc(100% + 64px);
}
.go-to-left {
  translate: calc(-100% - 64px);
}

.absolute-center {
  translate: 0 -50%;
  @apply absolute top-1/2;
}
